@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gugi', cursive;
    margin: 1em 0;
}

h1,
h3 {
    text-transform: uppercase;
}

header {
    max-width: 32rem;
    margin: 0 auto;
}

header p {
    text-align: justify;
    font-style: italic;
}

header p em {
    font-style: normal;
}

header hr {
    background-color: white;
    border: .1em solid white;
    border-radius: .1em;
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fcfaa2, 0 0 30px #fcfaa2, 0 0 40px #fcfaa2;
}

h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fcfaa2, 0 0 30px #fcfaa2, 0 0 40px #fcfaa2;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid white;
    padding-bottom: .25em;
}

h3 {
    font-size: 1.25em;
}

#container {
    box-sizing: border-box;
    background-color: #131b31;
    color: white;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
}

.sign {
    border: 1px dashed white;
    border-radius: .5em;
    padding: .5em;
}

.sign-image {
    float: left;
    width: 4em;
    margin: .5em 1em;
}

.sign-dates {
    font-size: .8em;
    font-style: italic;
}

.sign-description {
    text-align: justify;
}

.image-bullet-list {
    list-style: '🔹';
    margin-left: 1em;
}

footer {
    background-color: black;
    color: #999;
    font-size: .8em;
    margin: 2rem -1rem -1rem;
    padding: 3rem 0;
    text-align: center;
}
